{% extends('base.html.twig') %}

{% block title %}
    Orders</title>
{% endblock %}

{% block stylesheets %}{% endblock %}
{% block body %} 
    <h1 class="text-center" style="margin-top: 10px;"><i class="fas fa-users"></i>Orders</h1>
    <div class="container position-relative">
        <div class="row ">
            <div class="col-11 mx-auto d-block">
                <hr>
                <div class="card " style="margin-bottom: 10px;">
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Fecha</th>
                                    <th>Fecha requerida</th>
                                    <th>Fecha de envío</th>
                                    <th>Estatus</th>
                                    <th>Comentarios</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in lista %}
                                    <tr>
                                        <td>{{ order.ordernumber }}</td>
                                        <td>{{ order.orderdate }}</td>
                                        <td>{{ order.requireddate }}</td>
                                        <td>{{ order.shippeddate }}</td>
                                        <td>{{ order.status }}</td>
                                        <td>{{ order.comments }}</td>
                                        <td>
                                            <button class="btn btn-outline-danger text-center">Eliminar</button>
                                            <button class="btn btn-outline-warning text-center">Modificar</button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}